mixin liItem(img, title, tab)
	li(data-tab=""+ tab)&attributes(attributes)
		.cat-img
			img(src="./img/categories-img/"+ img+".png", alt="")
		.cat-title #{title}

mixin tag(text)
	a(href="#!").tag-label # !{text}
		
mixin product-card(img, title, pr1, pr2,...tags)
	//===== одна карточка ===========
	.product-card
		.product-card__img
			img(src="./img/categories-img/"+img+"-poster.png", alt="img")
		.product-card__info
			a(href='#!').product-card__title !{title}
		
			.price-medium
				.price-new #{pr1} 000 руб
				.price-old #{pr2} 000 руб
			
			.product-card__btns
				a.btn-flex.btn--blue(href='#!')
					span Демо
					.demo-icon
				
				a.btn-flex(href='#!')
					span Подробнее
					svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
						path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
			.tags-wrapper
				each item in tags
					+tag(''+ item)
				
section.products
	.container-xxl
		+titleGroup('Наши сайты','Наши сайты', 'Делаем лучшее')
		
		//===== контент в две колонки ==========
		.column-grid
			//====левая колонка с меню категорий ====
			.product-tabs-menu
				.product-tabs-title(id="tabMenuBtn")
					p Каталог решений
					span.icon-chevron
				ul.product-tabs-list
					+liItem('mebel', 'Мебель', 1)(class="active")
					+liItem('foto', 'Фотография', 2)
					+liItem('cveti', 'Цветы', 3)
					+liItem('urist', 'Юриспруденция', 4)
					+liItem('perevozki', 'Перевозки', 5)
					+liItem('product', 'Продукты питания', 6)
					+liItem('dostavka', 'Доставка', 7)
			
				.tags-wrapper
					+tag('Магазин')
					+tag('Персональный')
					+tag('Корпоративный')
					+tag('Адаптивный')
					+tag('Каталог')

			//===правая колонка ===========
			.column-grid__column
				//====форма поиска =========
				form(action="") 
					.product-search
						.form-item
							input(type="text" placeholder="Найти решения")
							button.search-btn
								.search-icon

				.product-tabs-content
					//==== фильтры ======
					.products-sort
						p Сортировать по:
						.filters-group
							label.filter-label
								input(type="radio" name="sort_products")
								.filter-label__text
									span Цене
									span.bg-arrow
							
							label.filter-label
								input(type="radio" name="sort_products")
								.filter-label__text
									span Дате добавления
									span.bg-arrow
							
							label.filter-label
								input(type="radio" name="sort_products")
								.filter-label__text
									span Популярности
									span.bg-arrow
					
					//======= карточки сайтов, разбиты на блоки products-cards. По клику на строчку меню product-tabs-list отображаются за счет совпадения значений дата-атрибутов ============
					
					//======контент вкладки сайт мебели =====
					.products-cards.active(data-content="1")
						
						+product-card('pizza', 'Готовый сайт пицца и&nbsp;роллы', '9', '40','Корпоративный','Адаптивный')
						
						+product-card('foto', 'Готовый сайт фотографа', '5', '30','Персональный','Адаптивный')
						
						+product-card('cveti', 'Готовый сайт доставки цветов', '6', '50','Магазин','Адаптивный','Каталог')
						
						+product-card('urist1', 'Готовый сайт для юристов и адвокатов', '9', '40','Корпоративный','Адаптивный')

						+product-card('product', 'Готовый сайт доставки продуктов', '6', '45','Магазин','Адаптивный','Каталог')

						+product-card('urist2', 'Готовый юридически	 сайт', '9', '40','Корпоративный','Адаптивный')
						
						+product-card('dostavkai', 'Готовый сайт доставки обедов', '12', '40','Магазин','Адаптивный','Каталог')
						
						+product-card('dostavka2', 'Готовый сайт доставки роллов', '9', '40','Магазин','Адаптивный','Каталог')

					//======контент вкладки сайт фотографа =====
					.products-cards(data-content="2")
						
						+product-card('foto', 'Готовый сайт фотографа', '5', '30','Персональный','Адаптивный')
						+product-card('product', 'Готовый сайт доставки продуктов', '6', '45','Магазин','Адаптивный','Каталог')
					
					//======контент вкладки сайт цветы =====
					.products-cards(data-content="3")
						+product-card('cveti', 'Готовый сайт доставки цветов', '6', '50','Магазин','Адаптивный','Каталог')
						
						+product-card('urist1', 'Готовый сайт для юристов и адвокатов', '9', '40','Корпоративный','Адаптивный')

						+product-card('urist2', 'Готовый юридически	 сайт', '9', '40','Корпоративный','Адаптивный')
						
						
					//======контент вкладки сайт Юристы =====
					.products-cards(data-content="3")
						+product-card('urist1', 'Готовый сайт для юристов и адвокатов', '9', '40','Корпоративный','Адаптивный')
						+product-card('urist2', 'Готовый юридически	 сайт', '9', '40','Корпоративный','Адаптивный')